<h2>Employee List</h2>
<input type="text" #search (keyup)="getValue(search.value)"/>
<table class="table table-striped">
    <thead>
    
        <tr>
            <th>Id
                <button (click)="sortById()" type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-sort"></span>{{buttonId}}
            </button>
        </th>
            <th>First Name
                <button (click)="sortByFirstName()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-sort"></span>{{buttonFN}}
                </button>
            </th>
            <th>Last Name
                <button (click)="sortByLastName()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-sort"></span>{{buttonLN}}
                </button>
            </th>
            <th>Mobile Number
                <button (click)="sortByMobileNumber()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-sort"></span>{{buttonMN}}
                </button>
            </th>
            <th>Designation
                <button (click)="sortByDesignation()" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-sort"></span>{{buttonD}}
                </button>
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees | paginate:{itemsPerPage:pageSize,currentPage:pageNumber+1,totalItems:totalRecords}">
            <td>{{employee.empId}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.mobileNumber}}</td>
            <td>{{employee.designation.grade}}</td>
            <td>
                <button (click)="updateEmployee(employee.empId)" class="btn btn-info">Update</button>
                <button (click)="deleteEmployee(employee.empId)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="viewEmployee(employee.empId)" class="btn btn-info" style="margin-left:10px;">View</button>
                <!-- <button (click)="addAddress(employee.empId)" class="btn btn-info" style="margin-left:10px;">Add Address</button> -->
                <!-- <button (click)="addDesignation(employee.empId)" class="btn btn-info" style="margin-left:10px;">Add Designation</button> -->

                
            </td>
            
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
       >
    
    </pagination-controls>
  </div>