<div class="col-md-6  offset-md-3">
    <h3>Update Designation</h3>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label>Grade</label>
            <input type="text" class="form-control" id="grade" required #gr="ngModel" [(ngModel)]="designation.grade" name="grade"/>
            <span *ngIf="gr.invalid && gr.touched" style="color: red;"> Please Enter the Grade</span>

    
        </div>
    
    
        <button [disabled]="form.invalid" class="btn btn-success" type="submit">Submit</button>
    
    </form>

    </div>

